@media only screen and (max-width: 768px) {
  html {
    cursor: none;
  }
  .cursor {
    display: none;
  }
}
.cursor {
  pointer-events: none;
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 15px;
  height: 15px;
  border: 5.5px solid #6109558c;
  background-color: white;
  border-radius: 50%;
  opacity: 1;
  transition: border-color 0.3s ease-out, transform 0.2s ease-out;
}

.cursor__big-ball {
  width: 60px;
  height: 60px;
  background-color: rgba(
    237,
    60,
    60,
    0.8
  ); /* Set the background color to a lighter shade of cursor__small-ball */
  border-radius: 50%; /* Set the opacity to medium */
}

.hoverable {
  position: relative;
  z-index: 1;
}

.hoverable:before {
  content: "";
  position: absolute;
  top: -15px;
  right: -15px;
  bottom: -15px;
  left: -15px;
  z-index: -1;
  transition: transform 0.2s ease-out, opacity 0.3s ease-out;
  transform-origin: center;
}

.hoverable:hover:before {
  transform: scale(1.2);
  opacity: 0.1;
}

.hoverable:hover + .cursor .cursor__ball {
  border-color: lightcoral;
  transform: translate(-50%, -50%) scale(4);
}
